/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

$lineHeightForNav: 70px;
$lineHeightForSearch: 50px;

header.menu {

  // ...
  width: 100%;
  position: relative;
  z-index: 10;

  div.menu-container {
    width: 100%;
    background-color: black;
    padding: 0 20px;
    text-align: left;

    div.menu-holder {
      position: relative;
      width: 100%;
      max-width: $siteWidth;
      margin: 0 auto;
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      line-height: $lineHeightForNav;
      color: white;
      text-align: left;
      display: inline-block;
    }
    nav {
      display: inline-block;
      margin-left: 60px;

      i {
        color: white;
        font-size: 30px;
        line-height: $lineHeightForNav;
      }
      i.search {
        position: absolute;
        right: 10px;
        top: 0;
      }

      a.nav-item {
        font-family: Helvetica, Arial, Sans-Serif;
        font-size: 17px;
        line-height: $lineHeightForNav;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        border-bottom: 1px solid transparent;
        color: #FFF;
        margin-right: 20px;
      }
    }
  }

  div.search-container {
    position: absolute;
    background-color: white;
    z-index: 20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #CCC;
    display: none;
    &.showing {
      display: block;
    }

    input[type='text'] {
      min-width: 100%;
      font-size: 36px;
      line-height: $lineHeightForSearch;
      border: 1px solid #CCC;
      padding: 0 10px;
    }
    i.close {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 36px;
      line-height: $lineHeightForSearch;
    }
  }

  .matched-result {
    display: block;

    .see-result {
      margin: 1rem 1rem;
      padding: 1rem 1rem;
      border-bottom: 1px solid #c1c1c1;
      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        color: #757575;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        .first {
          font-family: "Courier New", Courier, monospace;

        }
        .last {
          text-decoration: underline !important;
        }

      }

    }
    .search-result-container {
      display: flex;
      flex-flow: row;
      .search-result {
        width: 25%;
        display: flex;
        flex-flow: row;
        margin: 1rem;

        a.search-result-image {
          img {
            height: 180px;
            width: auto;
          }
        }
        .search-result-body {
          text-transform: uppercase;
          text-decoration: none;
          font-family: "Arial Narrow",Arial, sans-serif;
          a.search-result-link {
            color: black;
            text-decoration: none;
            font-size: 17px;
            font-weight: 600;

          }
          .search-result-description{
            font-size: 13px;
            color: gray;
            font-weight: 400;
          }

        }

      }
    }

  }
}