$lineHeightForSearch: 50px;
div.search-container {
  position: absolute;
  background-color: white;
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid #CCC;
  display: none;
  &.showing {
    display: block;
  }

  input[type='text'] {
    min-width: 100%;
    font-size: 28px;
    line-height: $lineHeightForSearch;
    font-weight: 600;
    border: 1px solid #CCC;
    padding: 0 10px;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
  }
  i.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    line-height: $lineHeightForSearch;
  }

  .search-results {
    display: block;

    .see-result {
      margin: 1rem 1rem;
      padding: 1rem 1rem;
      border-bottom: 1px solid #c1c1c1;
      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        color: #757575;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        .first {
          font-family: "Courier New", Courier, monospace;

        }
        .last {
          text-decoration: underline !important;
        }

      }

    }
    .product-results-container {
      display: flex;
      flex-flow: row;
      .product-result {
        width: 25%;
        display: flex;
        flex-flow: row;
        margin: 1rem;

        a.product-result-image {
          img {
            height: 180px;
            width: auto;
          }
        }
        .product-result-body {
          text-transform: uppercase;
          text-decoration: none;
          font-family: "Arial Narrow", Arial, sans-serif;
          a.product-result-link {
            color: black;
            text-decoration: none;
            font-size: 17px;
            font-weight: 600;

          }
          .product-result-description {
            font-size: 13px;
            color: gray;
            font-weight: 400;
          }

        }

      }
    }

  }
}